
:root {
  --navbar: #d2eee8;
  --bg: #effffe;
  --bg2: #38e0be;
  --texto: #1a2b46;
  --textoLink: #565855;
  --bg-btn:#90bcb3;/* Background dos botões*/
  --border-btn:#5f9e92;/* Border dos botões*/
}

* {
  font-family: "Tomorrow", sans-serif;
}

body {
  background-color: var(--bg);
  padding-top: 90px !important;
}

/*Inicio navBar*/
.navbar {
  background-color: var(--navbar);
  padding: 14px 0;
  box-shadow: 0 0 1em #38e0be;
}

#logo {
  width: 320px;
}

.navbar-toggler {
  border: 0;
  font-size: 26px;
}

#navbarLinks a:hover {
  color: var(--texto);
  transition: .0s;
  background-color: #f1f1f180;
}

.navbar .navbar-nav .nav-link {
  font-size: 18px;
  padding: 1rem .8rem;
  color: var(--textoLink);
}

/*navBar*/
@media screen and (max-width: 988px) {
  .navbar .navbar-nav .nav-link {
    font-size: 18px;
    text-align: left;
    line-height: 100%;
    border-bottom: 1px solid #00000067;
  }
}
/*navBar*/
@media screen and (max-width: 426px) {
  #logo {
    width: 200px;
  }
  .navbar-toggler {
    border: 0;
    font-size: 20px;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 14px;
    padding: 1rem .8rem;
    color: var(--textoLink);
  }
}
/*Fim navBar*/

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.bg-one {
  background-color: #9adfd3;/*cor de fundo que está no mockup*/
  color: var(--texto);
}

.bg-two {
  background-color: var(--bg2);
  color: var(--texto);
}

/* Início do CSS section-one */
.section-one {
  background-color: var(--bg);
  color: var(--texto);
  background: no-repeat center/cover url(../image/rm222batch2-kul-30_Easy-Resize.com\ \(2\)_adobespark);
}
h1 {
  font-style: normal;
  font-weight: bold;
}
#paragrafo1 p {
  font-weight: bold;
  font-size: 17px;
  align-items: center;
}
.container1 {
 
  height: 100vh;
  width: 100%;
}
.title {
  text-transform: uppercase;
  margin-top: 1em;
}
#conteudo1 {
  text-align: left;
}
#conteudo2 {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}
#paragrafo1 {
  margin: -24px;
  margin-top: 26px;
}
.btn-group {
  margin: 0 0 0 -50px;
  position: relative;  
}
/* Fim do CSS section-one */

/*Início do section-three-update*/
.btn-tec{
  color: var(--texto);
  height: 100vh;
}
h3{
  font-size: 2rem;
}
p{
  color: var(--texto);
  margin-top: 2rem;
  font-size: 1.3rem;
}
.btn-tectwo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.btn{
  border-radius: 3rem;
  padding: 1rem 4rem;
  border-color: var(--border-btn);
  border-width: 2px;
  background-color: var(--bg-btn);
  font: 700 3rem;
  color:var(--texto);
  margin-top: 5rem;
  pointer-events: none;
}

@media screen and (max-width:775px){
  .btn-tec{
    flex-wrap: nowrap;
  }
  .btn-tectwo{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
  }
  h3{
    font-size: 1.2rem;
  }
  p{
    margin-top: .6rem;
    font-size: .9rem;
  }
  .btn{
    margin-top: 1.1rem;
    padding: .8rem .8rem;

  }
}
/*Fim do section-three-update*/