:root {
  --bg: #effffe;
  --bg2: #38e0be;
  --texto: #1a2b46;
  --bg-btn:#90bcb3;/* Background dos botões*/
  --border-btn:#5f9e92;/* Border dos botões*/
}
* {
  font-family: "Tomorrow", sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.bg-one {
  background-color: var(--bg);/*cor de fundo que está no mockup*/
  color: var(--texto);
}

.bg-two {
  background-color: var(--bg2);
  color: var(--texto);
}
