:root {
  --bg: #effffe;
  --bg2: #38e0be;
  --texto: #1a2b46;
}
* {
  font-family: "Tomorrow", sans-serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.bg-one {
  background-color: var(--bg);
  color: var(--texto);
}
.bg-two {
  background-color: var(--bg2);
  color: var(--texto);
}

/* Slider Container*/
